# --- Core ETL ---
requests
beautifulsoup4
pandas
openpyxl

# --- API & Server ---
fastapi          # Framework Web
uvicorn          # Servidor ASGI
pydantic         # Validação de Dados
python-multipart # Uploads (se precisar)

# --- Qualidade e DX ---
black